lib/xmerl/test/xmerl_xsd_SUITE_data/netsim/ImportExportMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by Graham Coster (Ericsson Expertise Ireland) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns="ImportExportMap.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ImportExportMap.xsd" elementFormDefault="qualified">
	<xs:element name="AttributeMap">
		<xs:complexType>
			<xs:attribute name="internalName" type="xs:string" use="required"/>
			<xs:attribute name="externalName" type="xs:string" use="required"/>
			<xs:attribute name="structAttributeType" type="xs:string" use="optional"/>
			<xs:attribute name="mapRequired" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="restricted" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="actionUpdated" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActionMap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ActionAttribute" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="actionName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActionAttribute">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChildMoTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MoType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileMimMap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MoMap" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="fileType" type="xs:string" use="required"/>
			<xs:attribute name="fileVersion" type="xs:string" use="required"/>
			<xs:attribute name="ranosMOMType" type="xs:string" use="required"/>
			<xs:attribute name="ranosMOMVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MoMap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ValidCommands"/>
				<xs:element ref="AttributeMap" maxOccurs="unbounded"/>
				<xs:element ref="ActionMap" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ChildMoTypes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="fileRoot" type="xs:boolean" use="required"/>
			<xs:attribute name="externalType" type="xs:string" use="required"/>
			<xs:attribute name="internalType" type="xs:string" use="required"/>
			<xs:attribute name="nameSpace" type="xs:string" use="required"/>
			<xs:attribute name="rt" type="xs:string" use="required"/>
			<xs:attribute name="overrideFBKDelete" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MoType">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="rt" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValidCommands">
		<xs:complexType>
			<xs:attribute name="create" type="xs:boolean" use="required"/>
			<xs:attribute name="update" type="xs:boolean" use="required"/>
			<xs:attribute name="delete" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
