lib/xmerl/test/xmerl_xsd_SUITE_data/ticket_19762.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="file:///C:/xsd/unpack-1/LKF-XSD/LicFormat20_Schema_Rev_E_MOD.xsd">
  <xs:attribute name="testattr">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:minLength value="5"/>
	<xs:maxLength value="20"/>
	<xs:pattern value="([a-zA-Z0-9\-\s/_])*"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:element name="test">
    <xs:complexType>
      <xs:attribute ref="testattr" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="test"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
