lib/xmerl/test/xmerl_xsd_SUITE_data/ticket_19792.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
%%
%% %CopyrightBegin%
%%
%% SPDX-License-Identifier: Apache-2.0
%%
%% Copyright Ericsson AB 2025. All Rights Reserved.
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%%     http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.
%%
%% %CopyrightEnd%
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sequenceNumber" type="xs:unsignedShort"/>

  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="sequenceNumber"/>
	<xs:element ref="description"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="description">
    <xs:complexType mixed="true">
      <xs:sequence>
	<xs:any minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
