lib/xmerl/test/xmerl_xsd_SUITE_data/ticket_19762.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
%%
%% %CopyrightBegin%
%%
%% SPDX-License-Identifier: Apache-2.0
%%
%% Copyright Ericsson AB 2025. All Rights Reserved.
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%%     http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.
%%
%% %CopyrightEnd%
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="file:///C:/xsd/unpack-1/LKF-XSD/LicFormat20_Schema_Rev_E_MOD.xsd">
  <xs:attribute name="testattr">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:minLength value="5"/>
	<xs:maxLength value="20"/>
	<xs:pattern value="([a-zA-Z0-9\-\s/_])*"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:element name="test">
    <xs:complexType>
      <xs:attribute ref="testattr" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="test"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
